<div *ngFor="let year of statistics">
  <p-accordion [multiple]="true">
    <p-accordionTab [header]="year.year">
      <p-table [value]="year.value" responsiveLayout="scroll" dataKey="id" class="statistics_table">
        <ng-template pTemplate="header">
          <tr>
            <th>Dzień</th>
            <th>ilość pizz</th>
            <th>ilość zestawów</th>
            <th>ilość pudełek</th>
            <th>ilość dodatków</th>
            <th>Detale</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-expanded="expanded">
          <tr class="{{data.id}}">
            <td>{{data.date}}</td>
            <td>{{data.pizzaSum}}</td>
            <td>{{data.kitSum}}</td>
            <td>{{data.boxNumber}}</td>
            <td>{{data.othersSum}}</td>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-primary">Szczegóły</button>
            </td>
          </tr>

        </ng-template>
        <ng-template pTemplate="rowexpansion" let-data>
          <tr class="{{data.id}}">
            <app-day-chart [data]="data" style="width: 100%;"></app-day-chart>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
</div>