<a pButton type="button" class="p-button-info" 
[routerLink]="['/statistics']">Wróć do formularza</a>
<a pButton type="button" class="p-button-info" 
[routerLink]="['/admin']">Sortowanie</a>
<p-tabView [activeIndex]="0">
  <p-tabPanel header="Tabela">
    <app-stat-table [statistics]="statistics"></app-stat-table>
  </p-tabPanel>
  <p-tabPanel header="Wykres">
    <app-stat-bar [statistics]="statistics"></app-stat-bar>
  </p-tabPanel>
  <p-tabPanel header="Wykres rok do roku">
    <app-year-to-year [statistics]="statistics"></app-year-to-year>
  </p-tabPanel>
</p-tabView>
