<div class="card pizza">
  <form [formGroup]="pizzaForm" name="pizzaForm" class="flex flex-wrap p-fluid">
    <div class="dataPicker col-12">
      <div class="wrapper">
        <label>DATA: </label>
        <p-calendar class="col-12" formControlName="date" dateFormat="dd.mm" dataType="string" firstDayOfWeek="1" (onSelect)="pickedDate(pizzaForm.controls['date'].value)"></p-calendar>
      </div>
      <a href="dashboards" class="btn p-button">STATYSTYKI</a>
      <div class="valueSum">
        <span class="pizzaSum">Suma pizz: {{pizzaSum}}</span>
        <span class="kitSum">Suma zestawów: {{kitSum}}</span>
      </div>
    </div>
    <h2>Pizze: </h2>
    <div class="pizzaArray col-6" formArrayName="pizzaArray" >
      <div class="flex flex-wrap" *ngFor="let type of pizzaForm.get('pizzaArray')['controls']; let i=index">
        <div class="p-field flex pizza_wrapper" [formGroupName]="i">
          <label class="pizza_name" for="horizontal">{{type.controls.pizzaName.value}}</label>

          <div class="pizza_button_wrapper">
            <button pButton class="pi pi-plus pizza_button single single_plus" type="button" (click)="singleClickPlus(type)"></button>
            <button pButton class="pi pi-plus pizza_button half half_plus" type="button" (click)="halfPizzaPlus(type)"></button>
            <button pButton class="pi pi-minus pizza_button half half_minus" type="button" (click)="halfPizzaMinus(type)"></button>
            <button pButton class="pi pi-minus pizza_button single single_minus" type="button" (click)="singleClickMinus(type)"></button>
          </div>
          <p-inputNumber
            class="col-1 pizzaInput"
            formControlName="pizzaQuantity"
            buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal">
          </p-inputNumber>
        </div>
      </div>
    </div>
    
    <!-- <div class="col-6">
      <h2>Zestawy</h2>
    </div> -->
    <div formArrayName="kitsArray" class="kitsArray" >
      <div class="flex flex-wrap col-12" *ngFor="let type of pizzaForm.get('kitsArray')['controls']; let i=index">
        <div class="p-field flex kits_wrapper" [formGroupName]="i">
          <label class="kits_name" for="horizontal">{{type.controls.kitName.value}}</label>

          <div class="kits_button_wrapper">
            <button pButton class="pi pi-plus kits_button single single_plus" type="button" (click)="singleClickPlus(type)"></button>
            <button pButton class="pi pi-minus kits_button single single_minus" type="button" (click)="singleClickMinus(type)"></button>
          </div>
          <p-inputNumber
            class="col-1 kitsInput"
            formControlName="kitQuantity"
            buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal">
          </p-inputNumber>
        </div>
      </div>
    </div>

    <!-- <div class="col-6">
      <h2>Dodatkowe</h2>
    </div> -->
    <div formArrayName="othersArray" class="othersArray kitsArray" >
      <div class="flex flex-wrap col-12" *ngFor="let type of pizzaForm.get('othersArray')['controls']; let i=index">
        <div class="p-field flex others_wrapper kits_wrapper" [formGroupName]="i">
          <label class="others_name kits_name" for="horizontal">{{type.controls.othersName.value}}</label>

          <div class="others_button_wrapper kits_button_wrapper">
            <button pButton class="pi pi-plus others_button kits_button single single_plus" type="button" (click)="singleClickPlus(type)"></button>
            <button pButton class="pi pi-minus others_button kits_button single single_minus" type="button" (click)="singleClickMinus(type)"></button>
          </div>
          <p-inputNumber
            class="col-1 othersInput kitsInput"
            formControlName="othersQuantity"
            buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal">
          </p-inputNumber>
        </div>
      </div>
    </div>


    <button pButton type="button" label="Submit" (click)="submitForm()" class="submitButton"></button>
  </form>
</div>
