
<div>
  <p-accordion [multiple]="true">
    <p-accordionTab header="Pizza" [selected]="false">
      <p-chart type="line" [data]="pizzaData" ></p-chart>
    </p-accordionTab>
    <p-accordionTab header="Zestawy">
      <p-chart type="line" [data]="othersData"></p-chart>
    </p-accordionTab>

    <p-accordionTab header="Pizza/rok" [selected]="true">
      <p-chart type="bar" [data]="pizzaByYears"></p-chart>
    </p-accordionTab>
    <p-accordionTab header="Pizza z podziałem na rodzaje">
      <p-chart type="bar" [data]="pizzaByType"></p-chart>
    </p-accordionTab>
  </p-accordion>
</div>